/*global property declarationn*/
 :root{
    --crayon-height: 1.5rem;
    --crayon-width: 6rem;
    --crayon-color: #237449; 
    --crayon-paper-color: rgba(41,237,133,.2);
    --crayon-line-color: #237449;
    --crayon-shadow-color: rgba(0,0,0,0.3); 

} 

/*crayon */

.crayon{

    width: var(--crayon-width);
    height: var(--crayon-height);
    
    /*background*/
    background-color: var(--crayon-color);
    box-shadow: 2px 2px 3px var(--crayon-shadow-color);

    background-image:
    /*3d shadow at the bottom*/
    linear-gradient(to bottom, transparent 62%, var(--crayon-shadow-color) 100%),

    /*circle in the middle at the top*/
    radial-gradient(ellipse at top, var(--crayon-line-color) 24%, transparent 24%
    ),
     

    /*vertical lines left side*/
    linear-gradient(to right,
      transparent 14%, var(--crayon-line-color) 14%,
      var(--crayon-line-color) 17%, transparent 17%
    ),
      
    linear-gradient(to right,
    transparent 20%, var(--crayon-line-color) 20%,
    var(--crayon-line-color) 23%, transparent 23%
    ),
    
    /*vertical lines right side*/
    linear-gradient(to right,
    transparent 78%, var(--crayon-line-color) 78%,
    var(--crayon-line-color) 81%, transparent 81%
    ),

    linear-gradient(to right,
    transparent 84%, var(--crayon-line-color) 84%,
    var(--crayon-line-color) 87%, transparent 87%
    ),

    /*crayon paper*/
    linear-gradient(to right,
    transparent 8%, var(--crayon-paper-color) 8%,
    var(--crayon-paper-color) 92%, transparent 92%
    );

}